*
!.gitignore

# Core
!core
!core/**/*

# Base themes
!invoiceplane
!invoiceplane/**/*
!invoiceplane_blue
!invoiceplane_blue/**/*
!kvh_ip_metro
!kvh_ip_metro/**/*
!next_ip_clouds
!next_ip_clouds/**/*
!next_ip_dark
!next_ip_dark/**/*
!next_ip_mandarin
!next_ip_mandarin/**/*
!und_ip_nord
!und_ip_nord/**/*
